In [1]:
import pandas as pd

In [4]:
code =  pd.read_csv('../dataset/icd_list_dataset_v9.csv', index_col=False)
df = pd.read_csv('../dataset/master_dataset.csv', index_col=False)

In [5]:
code

         stay_id icd_list icd_encoded_list
0       38081480    set()               []
1       30295111    set()               []
2       33267868    set()               []
3       35420907    set()               []
4       34301067    set()               []
...          ...      ...              ...
448967  36522433    set()               []
448968  35130402    set()               []
448969  30502357    set()               []
448970  36263682    set()               []
448971  33486806    set()               []

[448972 rows x 3 columns]

In [14]:
code[code['icd_list'].str.contains('4019')]['stay_id']

9         32908139
10        31931401
11        33821726
12        33704632
13        32967983
            ...
56650     34814488
56651     33300224
56652     36478825
56655     31540374
167408    32917002
Name: stay_id, Length: 13433, dtype: int64

In [26]:
df_cut = df[df['stay_id'].isin(code[code['icd_list'].str.contains('4019')]['stay_id'])]

In [ ]:
df_cut.to_csv('../dataset/df_patient.csv', index=False)